*{font-family: "맑은 고딕",Arial, Helvetica, sans-serif;}
header{text-align: center;}
header h1{
    color: #FF6347;
    height: 100px;
    margin: opx;
    display: inline;
    text-align: center;
}
ul {list-style-type: none;}
a{ text-decoration:none ;}
nav ul {
    text-align: center; border-top: 2px solid #006400;
    border-bottom: 2px solid #006400; padding: 15px 10px;
}
nav ul li {
    display: inline;
    padding: 15px 20px;
    letter-spacing: 5px;
    margin: 0 30px;
}
nav ul li:hover {
    background-color: #90EE90;
}
nav li a:hover{
    color: #FF6347;
}
body{
    margin: 0px auto;
    max-width: 980px;
}
#link {border: 3px solid MediumSeaGreen;
   padding: 5px 5px;
   margin: 0px auto;
   border-bottom: 3px;
}
#login {border: 3px solid MediumSeaGreen;
    padding: 5px 5px;
    border-top: 3px;
 }
section{display: flex;}
article{width: 75%;}
aside{width: 25%;}
footer{border-top: 10px;}